/* variables css */
:root {
    /* colors */
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

    /* fonts and typography*/
    --copy-font-size: 1.5rem;
    
    /* font weight */
    --font-regular: 400;
    --font-semi-bold: 700;
}

html {
    font-size: 62.5%;
    font-family: 'Outfit', sans-serif;
}

body {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: grid;
    place-content: center;
    background-color: var(--light-gray);
}

.l-main {
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
}

h1, h2, h3, ul, p {
    margin: 0;
}

h1, h2, h3 {
    font-size: var(--font-semi-bold);
    color: var(--dark-blue);
}

.card {
    width: 25rem;
    height: 36rem;
    padding: 2rem;
    background-color: white;
    border-radius: 2rem;
}

.card .card-hero {
    width: 100%;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .card-hero img{
    width: 100%;
    height: 100%;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
